<section class='adventure-draw'>
  <div class='adventure-card-filter-container'>
    <img class='result-image' src='{{faces.0.img}}' />
  </div>
  <h4 class='result-text result-text-card'>{{name}}</h4>
</section>
<div class='adventure-card-description'>
  {{description}}
</div>