<div class="acg-give-grid">
  <div class="recipient-button-col">
    {{#each users as |user|}}
      <button class="button give-button" data-userid="{{user.id}}">
        <i class="fas fa-share-square"></i> {{user.name}}
      </button>
    {{/each}}
  </div>

  <button class="button discard-button">
    <i class="fas fa-trash"></i> {{localize "ACG.GIVE_DIALOG.DISCARD"}}
  </button>

  <button class="button cancel-button">
    <i class="fas fa-ban"></i> {{localize "ACG.GIVE_DIALOG.CANCEL"}}
  </button>
</div>
