<form class="{{cssClass}} flexcol" autocomplete="off">
    {{> journalEntryPageHeader}}
    {{editor editor.content target="text.content" class="journal-page-content" button=false editable=true
             engine=editor.engine collaborate=editor.collaborate}}
</form>
